@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details Stock";

    DateTime? invoiceDate = Model.PurchaseStockDate;
    DateTime? onlyDate = invoiceDate?.Date;

    string? formattedDate = onlyDate?.ToString("dd-MM-yyyy");
}

@model Stock_Management_System.Areas.Stocks.Models.Purchase_Stock;

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .scrollable-table {
        overflow-x: auto;
        display: block;
        white-space: nowrap;
    }

</style>

<div class="container">
    <br />
    <div class="row">
        <!-- Left side - Back link -->
        <div class="col-2">
            <a asp-action="Manage_Stocks" asp-controller="Stock" class="text-decoration-none">
                <i class="fa fa-arrow-left" style="color:green; transform: scale(1.25);"> </i>
            </a>
        </div>

        <!-- Center - Invoice Details -->
        <div class="col-8 text-center">
            <h5>Stock Details</h5>
        </div>





        <br />
        <div class="table-responsive scrollable-table table-responsive-sm">
            <table class="table">
                @*  <tr>
                <th>Transaction ID</th>
                <td>@Model.PurchaseStockId</td>
                </tr> *@
                <tr>
                    <th>Date</th>
                    <td>@formattedDate</td>
                </tr>
                <tr>
                    <th>Customer Name</th>
                    <td>@Model.CustomerName</td>
                </tr>

                <tr>
                    <th>Customer Type</th>
                    <td>@Model.CustomerType</td>
                </tr>


                <tr>
                    <th>Product Name</th>
                    <td>@Model.ProductName</td>
                </tr>

                <tr>
                    <th>Goods Taken Loaction</th>
                    <td>@Model.PurchaseStockLocation</td>
                </tr>

                <tr>
                    <th>Bag</th>
                    <td>@(Model.Bags == 0 ? "--" : Model.Bags.ToString()) </td>
                </tr>
                <tr>
                    <th>Bag Per Kg</th>
                    <td>@(Model.BagPerKg == 0 ? "--" : Model.BagPerKg.ToString()) </td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>@Model?.TotalWeight</td>
                </tr>
                <tr>
                    <th>Product Price(₹)</th>
                    <td>@Model?.ProductPrice.ToString("C")</td>
                </tr>
                <tr>
                    <th>Total Price(₹)</th>
                    <td>@Model?.TotalPrice.ToString("C")</td>
                </tr>
                <tr>
                    <th>Vehicle Type</th>
                    <td>@Model?.VehicleName</td>
                </tr>
                <tr>
                    <th>Vehicle No.</th>
                    <td>@Model?.VehicleNo</td>
                </tr>
                <tr>
                    <th>Driver Name</th>
                    <td>@Model?.DriverName</td>
                </tr>
                <tr>
                    <th>Tolat Name</th>
                    <td>@Model?.TolatName</td>
                </tr>
                <tr>
                    <th>Stock Grade</th>
                    <td>@(string.IsNullOrWhiteSpace(Model?.ProductGrade) ? "--" : Model?.ProductGrade)</td>
                </tr>




            </table>
        </div>
    </div>
