@using Stock_Management_System.BAL;
@{
    ViewData["Title"] = "Profile";
}
@inject CV cv
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Profile</h4>
            <h6>User Profile</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="profile-set">
                <div class="profile-head">
                </div>
                <div class="profile-top">
                    <div class="profile-content">
                        <div class="profile-contentimg">
                            <img src="~/img/customer/customer5.jpg" alt="img" id="blah">
                           
                        </div>
                        <div class="profile-contentname">
                            <h2>Hello,@cv.Username()</h2>
                            <h4>Check Yoor Personal Info.</h4>
                        </div>
                    </div>
                   @* <div class="ms-auto">
                        <a href="javascript:void(0);" class="btn btn-submit me-2">Save</a>
                        <a href="javascript:void(0);" class="btn btn-cancel">Cancel</a>
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="@cv.Username()" style="font-weight:bold; color:black" disabled>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" disabled placeholder="@cv.Email()">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" disabled placeholder="@cv.ContactNo()">
                    </div>
                </div>
                @* <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label>Password</label>
                        <div class="pass-group">
                            <input type="password" disabled value="@CV.Password()" class=" pass-input">
                            <span class="fas toggle-password fa-eye-slash"></span>
                        </div>
                    </div>
                </div> *@
               <h6>Last Login Time: @cv.JWT_Token()</h6>

            </div>
        </div>
    </div>

</div>

