@using Stock_Management_System.BAL;
@{
    ViewData["Title"] = "Profile";
}

@functions {
    public string GetColorFromUsername(string username)
    {
        Random random = new Random(username.GetHashCode());
        var color = String.Format("#{0:X6}", random.Next(0x1000000)); // Generates a random color
        return color;
    }
}
@inject CV cv
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Profile</h4>
            <h6>User Profile</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="profile-set">
                
                <div class="profile-top">
                    <div class="profile-content">

                        <!-- Circular Avatar -->
                        <div class="avatar rounded-circle" style="width: 75px; height: 75px; background-color: @GetColorFromUsername(cv.Username()); display: flex; justify-content: center; align-items: center; border-radius: 50%;">
                            <!-- Display user initials -->
                            <span class="avatar-text" style="color: white; font-size: 20px; font-weight: bold;">@cv.Username()?.Substring(0, 1).ToUpper()</span>
                        </div>



                        <div class="profile-contentname">
                            <h2>Hello,@cv.Username()</h2>
                            <h4>Check Your Personal Info.</h4>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="@cv.Username()" style="font-weight:bold; color:black" disabled>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" style="font-weight:bold; color:black" disabled placeholder="@cv.Email()">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" style="font-weight:bold; color:black" disabled placeholder="@cv.ContactNo()">
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>

