@using System.Data;
@using Stock_Management_System.UrlEncryption;

@{
    ViewData["Title"] = "Purchase Invoices";
}

@model IEnumerable<Stock_Management_System.Areas.Invoices.Models.InvoiceModel.Purchase_Invoice_Model>



<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Purchase Invoice List</h4>
            <h6>Manage Invoices Purchases </h6>
        </div>
        <div class="page-btn">
            <a role="button" asp-action="CreatePurchaseInvoice" asp-controller="Invoice" class="btn btn-added"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Create Invoice</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="~/img/icons/filter.svg" alt="img">
                            <span><img src="~/img/icons/closes.svg" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                    </div>
                </div> 
                <div class="wordset">
                    <ul>
                        <li>
                            <form id="pdfExportForm" asp-action="GeneratePurchaseInvoicesPDFStatement" asp-controller="Invoice">
                                <button id="pdfExportButton" type="submit" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download PDF" onclick="return showToastNotification('pdfExportForm')">
                                    <img src="~/img/icons/pdf.svg" alt="img">
                                </button>
                            </form>

                        </li>

                        <li>
                            <form id="excelExportForm" asp-action="GeneratePurchaseInvoicesEXCELStatement" asp-controller="Invoice">
                                <button type="submit" name="downloadType" value="EXCEL" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download Excel" onclick="return showToastNotification('excelExportForm')">
                                    <img src="~/img/icons/excel.svg" alt="img">
                                </button>
                            </form>
                        </li>
                        <li>
                            <form>
                                <button type="button" onclick="window.print();" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Print">
                                    <img src="~/img/icons/printer.svg" alt="img">
                                </button>
                            </form>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="card mb-0" id="filter_inputs">
                <div class="card-body pb-0">
                    <div class="row align-items-end">
                        <!-- Ensure alignment at the bottom -->
                        <!-- Start Date -->
                        <div class="col-sm-2">
                            <!-- Adjusted column size for tighter fit -->
                            <div class="form-group">
                                <label for="startdate"><span style="color: black;">*</span> Start Date</label>
                                <input type="date" class="form-control" id="startdate">
                            </div>
                        </div>

                        <!-- End Date -->
                        <div class="col-sm-2">
                            <!-- Adjusted column size for tighter fit -->
                            <div class="form-group">
                                <label for="datepickerend"><span style="color: black;">*</span> End Date</label>
                                <input type="date" class="form-control" id="datepickerend" name="enddate">
                            </div>
                        </div>

                        <!-- Select Product -->
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="ProductType"><span style="color: black;">*</span> Select Product</label>
                                <select class="select form-control" id="graintype" asp-items="@(ViewBag.Products)">
                                    <option value="" selected disabled>-- Select Product --</option>
                                </select>
                            </div>
                        </div>

                        <!-- Select Vehicle -->
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="VehicleType"><span style="color: black;">*</span> Select Vehicle</label>
                                <select class="select form-control" id="vehicletype" asp-items="@(ViewBag.Vehicle)">
                                    <option value="" selected disabled>-- Select Vehicle --</option>
                                </select>
                            </div>
                        </div>

                        <!-- Search By Name -->
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="customername"><span style="color: black;">*</span> Search By Name</label>
                                <input type="text" class="form-control" placeholder="Enter Name.." oninput="this.value = this.value.toUpperCase()" id="searchName">
                            </div>
                        </div>



                        <!-- Search By Tolat -->
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="TolatName"><span style="color: black;">*</span> Search By Tolat</label>
                                <input type="text" class="form-control" placeholder="Enter Name Of Tolat.." oninput="this.value = this.value.toUpperCase()" id="searchTolatName">
                            </div>
                        </div>

                        <!-- Search Button -->
                        <div class="col-sm-1">
                            <!-- Adjust the column size if necessary -->
                            <div class="form-group">
                                <a role="button" id="searchButton" class="btn btn-filters"><img src="~/img/icons/search-whites.svg" alt="search icon"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div class="table-responsive">
            <table id="data" class="table datanew">
                <thead>
                    <tr>

                        <th class="text-center">Date</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Bag</th>
                        <th class="text-center">Bag Per KG</th>
                        <th class="text-center">Weight</th>
                        <th class="text-center">Product-Price(₹)</th>
                        <th class="text-center">Total-Price(₹)</th>
                        <th class="text-center">Tolat</th>
                        <th class="text-center">Vehicle</th>
                        <th class="text-center">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>

                                    <td class="text-center">
                                        @((DateTime.TryParse(item.PurchaseInvoiceDate.ToString(), out DateTime piDate) ? piDate : (DateTime?)null)?.ToString("dd-MM-yy"))
                                    </td>
                                    <td class="text-center">@item.CustomerName</td>
                                    <td class="text-center">@item.ProductName</td>
                                    <td class="text-center">@(item.Bags.HasValue ? item.Bags.Value.ToString() : "--")</td>
                                    <td class="text-center">@(item.BagPerKg.HasValue ? item.BagPerKg.Value.ToString() : "--")</td>
                                    <td class="text-center">@item.TotalWeight</td>
                                    <td class="text-center">@item.ProductPrice.ToString("C")</td>
                                    <td class="text-center">@item.TotalPrice.ToString("C")</td>
                                    <td class="text-center">@(string.IsNullOrEmpty(item.TolatName) ? "--" : @item.TolatName)</td>
                                    <td class="text-center">@item.VehicleName</td>



                                    <td class="text-center">
                                        <a class="action-set" href="/Options" data-bs-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu text-center">
                                            <li>
                                                <a role="link"
                                                   href="@Url.Action("PurchaseInvoiceDetailsView", "Invoice", new { Invoice_ID = UrlEncryptor.Encrypt(Convert.ToString(item.PurchaseInvoiceId)) })"
                                                   onclick="event.preventDefault(); { window.location.href = this.href; }" class="dropdown-item"><img src="~/img/icons/eye1.svg" class="me-2" alt="img">Invoice Info</a>
                                            </li>
                                            <li>
                                                <a role="link"
                                                   href="@Url.Action("EditPurchaseInvoice", "Invoice", new { Invoice_ID = UrlEncryptor.Encrypt(Convert.ToString(item.PurchaseInvoiceId)) })"
                                                   onclick="event.preventDefault(); { window.location.href = this.href; }" class="dropdown-item"><img src="~/img/icons/edit.svg" class="me-2" alt="img">Edit Invoice</a>
                                            </li>

                                            <li>
                                                <a role="button"
                                                   href="javascript:void(0);"
                                                   onclick="confirmPurchaseInvoiceDeletion('@Url.Action("DeletePurchaseInvoice", "Invoice", new { Invoice_ID = UrlEncryptor.Encrypt(Convert.ToString(item.PurchaseInvoiceId)) })', '@item.CustomerName')"
                                                   class="dropdown-item confirm-text">
                                                    <img src="~/img/icons/delete1.svg" class="me-2" alt="img">Delete Invoice
                                                </a>
                                            </li>

                                        </ul>
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>


    @section Scripts
    {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }



        <script src="/js/Section/invoice/p/purchases.js"></script>


    }



