@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sale Invoice Details";

}

@model Stock_Management_System.Areas.Invoices.Models.InvoiceModel.Sales_Invoice_Model;

<link rel="stylesheet" href="~/css/detailsviewtablestyle.css">

<div class="container">
    <br />
    <div class="row">
        <!-- Left side - Back link -->
        <div class="col-2">
            <a asp-action="SaleInvoices" asp-controller="Invoice" class="text-decoration-none">
                <i class="fa fa-arrow-left" style="color:green; transform: scale(1.25);"> </i>
            </a>
        </div>

        <!-- Center - Invoice Details -->
        <div class="col-8 text-center">
            <h5>Invoice Details</h5>
        </div>


        <!-- Right side - PDF & Image Download button -->
        <div class="col-2 text-end">
            <ul class="list-unstyled d-flex justify-content-end">
                <li>
                    <form asp-action="SaleInvoiceDownload" asp-controller="Invoice" method="get">
                        <input type="hidden" value="@Model?.SalesInvoiceId" name="Invoice_ID" />
                        <button type="submit" name="downloadType" value="pdf" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download PDF" style="transform: scale(1.15);">
                            <img src="~/img/icons/pdf.svg" alt="img">
                        </button>
                    </form>

                    <button type="submit" id="downloadImage" name="downloadType" value="img" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download Image" style="transform: scale(1.15);">
                        <i class="fa fa-download"></i>
                    </button>
                </li>
               
            </ul>
        </div>
    </div>




    <br />
    <div class="table-responsive scrollable-table table-responsive-sm">
        <table class="table">
            <tr>
                <th>Date</th>
                <td id="salesInvoiceDate">@Model.SalesInvoiceDate.ToString("dd/MM/yyyy")</td>
            </tr>

            <tr>
                <th>Invoice Type</th>
                <td>@(string.IsNullOrWhiteSpace(Model?.InvoiceType) ? "--" : Model?.InvoiceType)</td>
            </tr>


            <tr>
                <th>Broker Name</th>
                <td>@(string.IsNullOrWhiteSpace(Model?.BrokerName) ? "--" : Model?.BrokerName)</td>
            </tr>


            <tr>
                <th>Party Name</th>
                <td id="partyName">@Model?.PartyName</td>
            </tr>

            <tr>
                <th>GST NO</th>
                <td>@(string.IsNullOrWhiteSpace(Model?.PartyGstNo) ? "--" : Model?.PartyGstNo)</td>
            </tr>

            <tr>
                <th>Party Address</th>
                <td>@Model?.PartyAddress</td>
            </tr>


            <tr>
                <th>Product Name</th>
                <td id="productName">@Model?.ProductName</td>
            </tr>

            <tr>
                <th>Product Brand Name</th>
                <td id="productBrandName">@Model?.ProductBrandName</td>
            </tr>

            <tr>
                <th>Bag</th>
                <td>@(string.IsNullOrWhiteSpace(Convert.ToString(Model?.Bags)) ? "--" : Model?.Bags)</td>
            </tr>
            <tr>
                <th>Bag Per Kg</th>
                <td>@(string.IsNullOrWhiteSpace(Convert.ToString(Model?.BagPerKg)) ? "--" : Model?.BagPerKg)</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>@Model?.TotalWeight</td>
            </tr>

            <tr>
                <th>CGST(%)</th>
                <td>@(Model?.CGST != null ? Model.CGST.ToString() : "--")</td>

            </tr>

            <tr>
                <th>SGST(%)</th>
                <td>@(Model?.SGST != null ? Model.SGST.ToString() : "--")</td>

            </tr>

            <tr>
                <th>CGST(%) Tax Price(₹)</th>
                <td>@(Model?.TotalCGSTPrice != null ? Model.TotalCGSTPrice.Value.ToString("C") : "--")</td>
            </tr>

            <tr>
                <th>SGST(%) Tax Price(₹)</th>
                <td>@(Model?.TotalSGSTPrice != null ? Model.TotalSGSTPrice.Value.ToString("C") : "--")</td>
            </tr>




            <tr>
                <th>Product Price(₹)</th>
                <td>@Model?.ProductPrice.ToString("C")</td>
            </tr>

            <tr>
                <th>Without GST Tax Price(₹)</th>
                <td>@(Model?.WithoutGSTPrice != null ? Model.WithoutGSTPrice.Value.ToString("C") : "--")</td>
            </tr>


            <tr>
                <th>Total Price(₹)</th>
                <td>@Model?.TotalPrice.ToString("C")</td>
            </tr>
            <tr>
                <th>Vehicle Type</th>
                <td>@Model?.VehicleName</td>
            </tr>
            <tr>
                <th>Vehicle No.</th>
                <td>@Model?.VehicleNo</td>
            </tr>
            <tr>
                <th>Driver Name</th>
                <td>@Model?.DriverName</td>
            </tr>

            @{
                if (Model?.ContainerNo != "" || Model?.ContainerNo == null)
                {
                    <tr>
                        <th>Container Number</th>
                        <td>@(Model?.ContainerNo != null ? Model.ContainerNo.ToString() : "--")</td>
                    </tr>
                }
            }





        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js"></script>

@section Scripts {
    <script src="/js/Section/invoice/s/details.js"></script>
}