@using Stock_Management_System.UrlEncryption
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Reminders";
}



@model IEnumerable<Stock_Management_System.Areas.Manage.Models.Reminder_Model>;
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Reminders List</h4>
            <h6>Show All Reminders</h6>

        </div>
        <div class="page-btn">
            <a role="button" asp-action="Create_Reminder" asp-controller="Reminder" class="btn btn-added"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Create Reminder</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <div class="table-responsive  justify-content-center">
                <table id="data" class="table datanew">
                    <thead>
                        <tr>

                            <th class="text-center">Reminder Date</th>
                            <th class="text-center">Reminder Type</th>
                            <th class="text-center"> Status</th>
                            <th class="text-center">Information </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {

                                foreach (var row in Model)
                                {
                                    <tr>

                                        <td class="text-center">@row.ReminderDateTime.ToString("dd/MM/yyy hh:mm:tt")</td>
                                        <td class="text-center">@row.ReminderType</td>

                                        @if (DateTime.Now > row.ReminderDateTime)
                                        {
                                            <td class="text-center"><span class="badges bg-lightred">Expried</span></td>
                                        }
                                        else
                                        {

                                            <td class="text-center"><span class="badges bg-lightgreen">Upcoming</span></td>
                                        }


                                        <td class="text-center">
                                            <a class="action-set" href="/Options" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu text-center">
                                                <!-- Show Reminder -->
                                                <li class="dropdown-item">
                                                    <a role="link" class="loadSaveInfo" data-reminder-id="@UrlEncryptor.Encrypt(row.ReminderId.ToString())" href="#">
                                                        <img src="~/img/icons/eye.svg" class="me-2" alt="View">Show Reminder
                                                    </a>
                                                </li>

                                                <!-- Edit Reminder -->
                                                <li class="dropdown-item">
                                                    <a role="link" href="@Url.Action("Update_Reminder", "Reminder", new { Reminder_ID = UrlEncryptor.Encrypt(Convert.ToString(row.ReminderId)) })" onclick="event.preventDefault(); window.location.href = this.href;">
                                                        <img src="~/img/icons/edit.svg" class="me-2" alt="Edit"> Edit Reminder
                                                    </a>
                                                </li>

                                                <!-- Delete Reminder -->
                                                <li class="dropdown-item">
                                                    <a role="button" onclick="confirmDeletion('@Url.Action("Delete_Reminder", "Reminder", new { Reminder_ID = UrlEncryptor.Encrypt(Convert.ToString(row.ReminderId)) })', '@Html.Encode(row.ReminderDateTime.ToString("dd/MM/yyyy hh:mm:tt"))')" href="#">
                                                        <img src="~/img/icons/delete1.svg" class="me-2" alt="Delete"> Delete Reminder
                                                    </a>
                                                </li>
                                            </ul>

                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var AddMessage = sessionStorage.getItem('AddStatus');
            if (AddMessage) {
                toastr.success(AddMessage);
                // Clear the message from session storage so it doesn't reappear on refresh
                sessionStorage.removeItem('AddStatus');
            }
        });



    </script>

    <script>
        $(document).ready(function () {
            // Attaching click event to elements with class 'loadSaveInfo'
            $('.loadSaveInfo').on('click', function () {
                // Retrieving the encrypted reminder ID stored in data attribute
                var reminderId = $(this).data('reminder-id');

                // Performing an AJAX GET request to fetch reminder details by ID
                $.ajax({
                    url: '/Reminder/Get_Reminder_By_ID',  // Updated endpoint
                    type: 'GET',  // Method type GET
                    data: { Reminder_ID: reminderId },  // Data passed to the server
                    success: function (response) {
                        // On success, load the response into the modal's content area
                        $('#Reminder .modal-content').html(response);
                        // Show the modal
                        $('#Reminder').modal('show');
                    },
                    error: function (xhr) {
                        // On error, display a relevant error message
                        alert('Failed to retrieve reminder information - ' + xhr.responseText);
                    }
                });
            });
        });
    </script>

</div>




<!-- Modal Shell -->
<div class="modal fade" id="Reminder" tabindex="-1" aria-labelledby="Reminder" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Dynamic Content Will Be Loaded Here -->
        </div>
    </div>
</div>

</div>


