@using Stock_Management_System.UrlEncryption
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Reminders";
}



@model IEnumerable<Stock_Management_System.Areas.Manage.Models.Reminder_Model>;
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Reminders List</h4>
            <h6>Show All Reminders</h6>

        </div>
        <div class="page-btn">
            <a role="button" asp-action="CreateReminder" asp-controller="Reminder" class="btn btn-added"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Create Reminder</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">

                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                    </div>
                </div>

            </div>




            <div class="table-responsive  justify-content-center">
                <table id="data" class="table datanew">
                    <thead>
                        <tr>

                            <th class="text-center">Reminder Date</th>
                            <th class="text-center">Reminder Type</th>
                            <th class="text-center"> Status</th>
                            <th class="text-center">Information </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            // Get Indian Standard Time zone
                            TimeZoneInfo indianTimeZone = TimeZoneInfo.FindSystemTimeZoneById("India Standard Time");
                            DateTime nowInIndianTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, indianTimeZone);
                        }

                        @if (Model != null)
                        {
                            foreach (var row in Model)
                            {
                                <tr>
                                    @{
                                        DateTime reminderDateTime = row.ReminderDateTime;
                                        bool isExpired = nowInIndianTime > reminderDateTime;
                                    }

                                    <td class="text-center">@reminderDateTime.ToString("dd/MM/yyyy hh:mm tt")</td>
                                    <td class="text-center">@row.ReminderType</td>

                                    @if (isExpired)
                                    {
                                        <td class="text-center"><span class="badges bg-lightred">Expired</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><span class="badges bg-lightgreen">Upcoming</span></td>
                                    }

                                    <td class="text-center">
                                        <a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu text-center">
                                            <!-- Show Information -->
                                            <li>
                                                <a role="link"
                                                   data-reminder-id="@UrlEncryptor.Encrypt(row.ReminderId.ToString())"
                                                   onclick="event.preventDefault();" class="loadSaveInfo dropdown-item">
                                                    <img src="~/img/icons/eye1.svg" class="me-2" alt="img">Show Info
                                                </a>
                                            </li>

                                            @if (!isExpired)
                                            {
                                                <!-- Edit Reminder -->
                                                <li class="dropdown-item">
                                                    <a role="link" href="@Url.Action("EditReminder", "Reminder", new { Reminder_ID = UrlEncryptor.Encrypt(Convert.ToString(row.ReminderId)) })" onclick="event.preventDefault(); window.location.href = this.href;">
                                                        <img src="~/img/icons/edit.svg" class="me-2" alt="Edit"> Edit Reminder
                                                    </a>
                                                </li>
                                            }

                                            <li class="dropdown-item">
                                                <a role="button" onclick="confirmDeletion('@Url.Action("DeleteReminder", "Reminder", new { Reminder_ID = UrlEncryptor.Encrypt(Convert.ToString(row.ReminderId)) })', '@Html.Encode(reminderDateTime.ToString("dd/MM/yyyy hh:mm tt"))')">
                                                    <img src="~/img/icons/delete1.svg" class="me-2" alt="Delete"> Delete Reminder
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>


<script src="/js/bundle/reminder/reminders-bundle.js"></script>

<!-- Modal Shell -->
<div class="modal fade" id="Reminder" tabindex="-1" aria-labelledby="Reminder" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Dynamic Content Will Be Loaded Here -->
        </div>
    </div>
</div>

</div>


