@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Remain Payments";
}
@using Stock_Management_System.UrlEncryption;
@model IEnumerable<Stock_Management_System.Areas.Manage.Models.Payment_All_Models.Remain_Payment_Model>
@section Scripts {

    <script src="/js/bundle/payment/remain-bundle.js"></script>

}


<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Payments</h4>
            <h6>List of Remain Customers Payments </h6>
        </div>

    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="~/img/icons/filter.svg" alt="img">
                            <span><img src="~/img/icons/closes.svg" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                    </div>
                </div>
                <div class="wordset">
                    <ul>
                        <li>
                            <form id="pdfExportForm" asp-action="Remain_Payments_PDF" asp-controller="Payment" method="get">
                                <button type="submit" name="downloadType" value="PDF" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download PDF" onclick="return showToastNotification('pdfExportForm')">
                                    <img src="~/img/icons/pdf.svg" alt="img">
                                </button>
                            </form>
                        </li>

                        <li>
                            <form id="excelExportForm" asp-action="Remain_Payments_EXCEL" asp-controller="Payment" method="get">
                                <button type="submit" name="downloadType" value="EXCEL" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download Excel" onclick="return showToastNotification('excelExportForm')">
                                    <img src="~/img/icons/excel.svg" alt="img">
                                </button>
                            </form>
                        </li>
                        <li>
                            <form>

                                <button type="button" onclick="window.print();" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Print">
                                    <img src="~/img/icons/printer.svg" alt="img">
                                </button>

                            </form>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card mb-0" id="filter_inputs">
                <div class="card-body pb-0">
                    <div class="row align-items-end">
                        <!-- Ensure alignment at the bottom -->
                        <!-- Start Date -->
                        <div class="col-sm-2">
                            <!-- Adjusted column size for tighter fit -->
                            <div class="form-group">
                                <label for="startdate"><span style="color: black;">*</span> Start Date</label>
                                <input type="date" class="form-control" id="startdate">
                            </div>
                        </div>

                        <!-- End Date -->
                        <div class="col-sm-2">
                            <!-- Adjusted column size for tighter fit -->
                            <div class="form-group">
                                <label for="datepickerend"><span style="color: black;">*</span> End Date</label>
                                <input type="date" class="form-control" id="enddate" name="enddate">
                            </div>
                        </div>

                        <!-- Select Product -->
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="ProductType"><span style="color: black;">*</span> Select Product</label>
                                <select class="select form-control" id="producttype" asp-items="@(ViewBag.Products)">
                                    <option value="" selected disabled>-- Select Product --</option>
                                </select>
                            </div>
                        </div>



                        <!-- Search By Name -->
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="customername"><span style="color: black;">*</span> Search By Location</label>
                                <input type="text" class="form-control" placeholder="Enter Location.." oninput="this.value = this.value.toUpperCase()" id="location">
                            </div>
                        </div>





                        <!-- Search Button -->
                        <div class="col-sm-1">
                            <!-- Adjust the column size if necessary -->
                            <div class="form-group">
                                <a role="button" id="searchButton" class="btn btn-filters"><img src="~/img/icons/search-whites.svg" alt="search icon"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div class="table-responsive">
            <table id="data" class="table datanew">
                <thead>
                    <tr>

                        <th class="text-center">Payment Date</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Total Amount</th>
                        <th class="text-center">Total Paid</th>
                        <th class="text-center">Total Remain</th>
                        <th class="text-center">Payment-Method</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Pay</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>

                                    <td class="text-center">
                                        @((DateTime.TryParse(item.Payment_Date.ToString(), out DateTime piDate) ? piDate : (DateTime?)null)?.ToString("dd-MM-yy"))
                                    </td>
                                    <td class="text-center">@item.Customer_Name</td>
                                    <td class="text-center">@item.Product_Name</td>
                                    <td class="text-center">@item.Total_Amount.ToString("C")</td>
                                    <td class="text-center">@item.Paid_Amount.ToString("C")</td>
                                    <td class="text-center">@((item.Total_Amount - item.Paid_Amount).ToString("C"))</td> <!-- Display the difference formatted as currency -->
                                    <td class="text-center">@item.First_Payment_Method</td>

                                    <td class="text-center"><span class="badges bg-lightyellow">@item.Remain_Payment_Status</span></td>

                                    <td class="text-center">
                                        <a class="loadPaymentInfoBtn" data-customer-id="@UrlEncryptor.Encrypt(item.Customer_Id.ToString())" data-stock-id="@UrlEncryptor.Encrypt(item.Stock_Id.ToString())">
                                            <i class="fa fa-credit-card"></i>
                                        </a>
                                    </td>



                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>


        </div>


        <!-- Modal Shell -->
        <div class="modal fade" id="payment" tabindex="-1" aria-labelledby="paymentLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- Dynamic Content Will Be Loaded Here -->
                </div>
            </div>
        </div>

    </div>



