﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Sale";
}


@model Stock_Management_System.Areas.Sales.Models.Sale_Customer_Combied_Model;
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Create Sale</h4>
            <h6 style="font-style:initial; font-weight:bolder;color:gray">Add/Existing Sale</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <form class="row g-3" id="SaleForm" asp-action="InsertSale" asp-controller="Sale" onsubmit="return CheckData()" method="post">

                <!-- Date -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Sale Date </label>
                        <input type="date" asp-for="sale.Create_Sales" placeholder="DD-MM-YYYY" id="datepicker" class="form-control">
                    </div>
                </div>




                <!-- Grain Type -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Select Product Type</label>
                        <select class="select" asp-for="sale.Product_Id" id="selectgrain" aria-label="graintype" asp-items="ViewBag.Products">
                            <option value="" selected disabled>-- Select Grain --</option>
                        </select>
                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Product_Id"></span>
                    </div>
                </div>

                <!-- Date -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Receive Payment Date </label>
                        <input type="date" asp-for="sale.Receive_Payment_Date" placeholder="DD-MM-YYYY" id="datepicker" class="form-control">
                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Receive_Payment_Date"></span>
                    </div>

                </div>

                <!-- Customer Name -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Customer Name</label>
                        <input type="text" class="form-control" id="Customer" placeholder="Customer Name" asp-for="customer.CustomerName" oninput="this.value = this.value.toUpperCase()">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="customer.CustomerName"></span>
                        <span id="newCustomerMessage" style="color:green">* New Customer</span>
                    </div>
                </div>

                <input type="hidden" id="CustomerId" asp-for="customer.CustomerId" />

                <!-- Customer Type -->
                <div id="newcustomertype" class="col-lg-3 col-sm-6 col-12" style="display: none;">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> New Customer Type</label>
                        <input type="text" class="form-control" placeholder="Customer Type" value="SELLER" id="cttypeDisplay" disabled oninput="this.value = this.value.toUpperCase()">
                        <input type="hidden" id="cttype" name="customer.CustomerType" value="SELLER">
                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="customer.CustomerType"></span>
                    </div>
                </div>



                <!-- Customer City -->
                <div id="newcustomercity" class="col-lg-3 col-sm-6 col-12" style="display: none;">
                    <div class="form-group">
                        <label for="ctname"><span style="color: red;">*</span> New Customer City</label>
                        <input type="text" class="form-control" placeholder="City Name" id="customercity" asp-for="customer.CustomerAddress" oninput="this.value = this.value.toUpperCase()">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="customer.CustomerAddress"></span>
                    </div>
                </div>

                <!-- Customer Contact_No -->
                <div id="newcustomerphoneno" class="col-lg-3 col-sm-6 col-12" style="display: none;">
                    <div class="form-group">
                        <label for="bags"><span style="color: red;">*</span> Enter Customer No</label>
                        <input type="number" inputmode="numeric" class="form-control" placeholder="Contact No" asp-for="customer.CustomerContact" id="contactno">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="customer.CustomerContact"></span>
                    </div>
                </div>


                <!-- BrandName  -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="BrandName"><span style="color: black;">*</span> Brand Name</label>
                        <input type="text" class="form-control" placeholder="Brand Name" asp-for="sale.Brand_Name" id="brandName" oninput="this.value = this.value.toUpperCase()">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Brand_Name"></span>
                    </div>
                </div>


                <!--Payment Method-->
                <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Select Payment Method</label>
                        <select class="select" asp-for="sale.Payment_Method" id="selectpaymentmethod">
                            <option value="" selected disabled>-- Payment Method --</option>
                            <option value="CASH">CASH</option>
                            <option value="BANK">BANK</option>
                        </select>
                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Payment_Method"></span>
                    </div>

                </div>


                <!-- Bank Information -->
                <div class="col-lg-3 col-sm-12" id="bankSelection" style="display:none">
                    <div class="form-group">
                        <label><span style="color:red;">*</span> Select Bank</label>
                        <select class="form-control" asp-for="sale.Receive_Information_Id" id="bankSelect">
                            <option selected disabled value="">-- Select Bank --</option>
                            @foreach (var bank in ViewBag.OurBanks as List<Stock_Management_System.Areas.Manage.Models.Our_Banks_Dropdown>)
                            {
                                <option data-icon="@bank.BankIcon" value="@bank.InformationId">XXXXX@(bank.AccountNo.Substring(bank.AccountNo.Length - 4))</option>
                            }
                        </select>
                        <input type="hidden" asp-for="sale.Receive_Information_Id" id="informationId" />
                        <span class="text-danger" asp-validation-for="sale.Receive_Information_Id" style="color: red; font-size:11px; font-weight:bold;"></span>
                    </div>
                </div>



                <!-- Bags -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label><span style="color: black;">*</span> Bags</label>
                        <input type="number" inputmode="numeric" asp-for="sale.Bags" class="form-control" placeholder="Bags" id="bags" asp-for="SaleModel.Bags">

                    </div>
                </div>

                <!-- Bags Per KG -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="bagsperkg"><span style="color: black;">*</span> Bags Per KG</label>
                        <input type="number" inputmode="numeric" class="form-control" asp-for=sale.BagPerKg placeholder="Bags per KG" id="bagsperkg" asp-for="SaleModel.BagPerKg">

                    </div>
                </div>

                <!-- Weight -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="weight"><span style="color: red;">*</span> Weight</label>
                        <input type="number" inputmode="numeric" class="form-control" placeholder="Weight" id="weight" asp-for="sale.Total_Weight">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Total_Weight"></span>
                    </div>
                </div>

                <!-- Product Price -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Rate"><span style="color: red;">*</span> Rate⟨₹⟩</label>
                        <input type="number" inputmode="numeric" class="form-control" placeholder="Enter Rate⟨₹⟩" id="rate" asp-for="sale.Rate">
                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Rate"></span>
                    </div>
                </div>



                <!-- CGST -->
                <div class="col-lg-1 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="CGST"><span style="color: black;">*</span> CGST(%)</label>
                        <input type="number" step="0.01" class="form-control" placeholder="CGST" id="CGST" asp-for="sale.CGST">

                    </div>
                </div>

                <!-- SGST -->
                <div class="col-lg-1 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="SGST"><span style="color: black;">*</span> SGST(%)</label>
                        <input type="number" step="0.01" class="form-control" placeholder="SGST" id="SGST" asp-for="sale.SGST">
                    </div>
                </div>



                <input type="hidden" id="CGST_Total" asp-for="sale.TotalCGSTPrice" />

                <input type="hidden" id="SGST_Total" asp-for="sale.TotalSGSTPrice" />

                <input type="hidden" id="beforetaxtotal" asp-for="sale.WithoutGSTPrice" />

                <!-- Total Price -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="totalprice"><span style="color: red;">*</span> Total Price ⟨₹⟩</label>
                        <input type="number" inputmode="numeric" class="form-control" placeholder="Total Price ⟨₹⟩" id="totalprice" asp-for="sale.Total_Price">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Total_Price"></span>
                    </div>
                </div>



                <!-- Received Amount(₹) -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="receivedAmount"><span style="color: red;">*</span> Received Amount(₹)</label>
                        <input type="number" inputmode="numeric" class="form-control" placeholder="Received Amount ⟨₹⟩" id="ReceivedAmount" asp-for="sale.Receive_Amount">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Receive_Amount"></span>
                    </div>
                </div>

                <!-- Discount(₹) -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="discount"><span style="color: black;">*</span> Discount(₹)</label>
                        <input type="number" inputmode="numeric" class="form-control" placeholder="Discount Amount ⟨₹⟩" id="DiscountAmount" asp-for="sale.Discount">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Discount"></span>
                    </div>
                </div>


                <!-- Full Amount Payment Receive -->
                <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Full Payment Amount Receive?</label>
                        <select class="select" id="isFullAmountReceive" asp-for=sale.IsFullPaymentReceive>
                            <option value="" selected disabled>-- Options --</option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                        </select>

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.IsFullPaymentReceive"></span>
                    </div>
                </div>


                <!--Remain Payment Date-->
                <div class="col-lg-3 col-sm-6 col-12" id="RemainDate" style="display:none">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Remain Payment Date </label>
                        <input type="date" asp-for="sale.Remain_Payment_Date" placeholder="DD-MM-YYYY" id="datepicker" class="form-control">
                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Remain_Payment_Date"></span>
                    </div>

                </div>

                <!-- Remain Amount  -->
                <div class="col-lg-3 col-sm-6 col-12" id="RemainAmount" style="display:none;">
                    <div class="form-group">
                        <label for="remainAmount"><span style="color: red;">*</span> Remain Amount</label>
                        <input type="number" inputmode="numeric" class="form-control" placeholder="Enter Remain Amount" id="remainAmount" asp-for="sale.Receive_Remain_Amount">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Receive_Remain_Amount"></span>
                    </div>
                </div>

                <!-- Remain Payment Method-->
                <div class="col-lg-3 col-sm-12" id="RemainPaymentMethod" style="display:none;">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Select Remain Payment Method</label>
                        <select class="select" asp-for="sale.Remain_Payment_Method" id="selectremainpaymentmethod">
                            <option value="" selected disabled>-- Payment Method --</option>
                            <option value="CASH">CASH</option>
                            <option value="BANK">BANK</option>
                        </select>

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Remain_Payment_Method"></span>
                    </div>

                </div>

                <!-- Remain Bank Information-->
                <div class="col-lg-3 col-sm-12" style="display:none" id="RemainbankSelection">
                    <div class="form-group">
                        <label><span style="color:red;">*</span> Select Remain Bank</label>
                        <select class="form-control" asp-for="sale.Remain_Amount_Receive_Bank_Id" id="remainbankSelect">
                            <option selected disabled value="">-- Select Bank --</option>
                            @foreach (var bank in ViewBag.OurBanks as List<Stock_Management_System.Areas.Manage.Models.Our_Banks_Dropdown>)
                            {
                                <option value="@bank.BankId" data-icon="@bank.BankIcon" data-info-id="@bank.InformationId">XXXXX@(bank.AccountNo.Substring(bank.AccountNo.Length - 4))</option>
                            }
                        </select>
                        <input type="hidden" asp-for="sale.Remain_Infromation_ID" id="remainInformationId" />
                        <span class="text-danger" asp-validation-for="sale.Remain_Amount_Receive_Bank_Id" style="color: red; font-size:11px; font-weight:bold;"></span>
                    </div>
                </div>



                <!-- Dedcuted Amount(₹) -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="discount"><span style="color: red;">*</span> Deducted Amount(₹)</label>
                        <input type="number" readonly inputmode="numeric" class="form-control" placeholder="Deducted Amount ⟨₹⟩" id="DeductedAmount" asp-for="sale.Deducted_Amount">
                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="sale.Deducted_Amount"></span>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-auto text-center mb-3" style="margin-top:20px;">
                        <button type="submit" class="btn btn-success me-2">
                            <i class="fas fa-shopping-cart"></i> Add Sales
                        </button>
                        <button type="reset" onclick="confirmSaleDataReset()" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Clear All
                        </button>
                    </div>
                </div>








            </form>

        </div>
    </div>
</div>






<!-- Load jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">




@section Scripts {
    <script src="/js/bundle/sale/add-bundle.js"></script>
}

<style>
    .img-flag {
        height: 20px;
        width: auto;
        margin-right: 10px;
        vertical-align: middle;
    }
</style>