@using System.Globalization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sale Details";
}

@model Stock_Management_System.Areas.Sales.Models.Show_Sale;

<link rel="stylesheet" href="~/css/detailsviewtablestyle.css">
<style>

    img.bank-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
</style>

<!-- Include html2canvas from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

<!-- Your custom script file -->
<script src="/js/bundle/sale/details-bundle.js"></script>


<div class="container">
    <br />
    <div class="row">
        <div class="col-2">
            <a asp-action="Sales" asp-controller="Sale" class="text-decoration-none">
                <i class="fa fa-arrow-left" style="color:green; transform: scale(1.25);"></i> 
            </a>
        </div>
        <div class="col-8 text-center">
            <h5>Sale Details</h5>
        </div>
        
        <div class="col-2 text-right">
            <a role="button" id="downloadImage" class="btn icon-button">
                <i class="fa fa-download" aria-hidden="true" style="color:green; transform: scale(1.25);"></i>
            </a>
        </div>
    </div>

    <div class="table-responsive scrollable-table">
        <table class="table">
            @* Display sale creation date and other details *@
            <tr>
                <th>Sale Creation Date</th>
                <td id="saleDate">@Model.Create_Sales.ToString("dd-MM-yyyy")</td>
            </tr>
            <tr>
                <th>Received Payment Date</th>
                <td>@Model.Receive_Payment_Date.ToString("dd-MM-yyyy")</td>
            </tr>
            <tr>
                <th>Customer Name</th>
                <td id="customerName">@Model.CustomerName</td>
            </tr>
            <tr>
                <th>Customer Type</th>
                <td>@Model.CustomerType</td>
            </tr>
            <tr>
                <th>Product Name</th>
                <td>@Model.Product_Name</td>
            </tr>
            @if (!string.IsNullOrEmpty(Model.Brand_Name))
            {
                <tr>
                    <th>Brand Name</th>
                    <td id="brandName">@Model.Brand_Name</td>
                </tr>
            }
            <tr>
                <th>Bag</th>
                <td>@(Model.Bags?.ToString() ?? "--")</td>
            </tr>
            <tr>
                <th>Bag Per Kg</th>
                <td>@(Model.BagPerKg?.ToString() ?? "--")</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>@Model.Total_Weight</td>
            </tr>
            <tr>
                <th>Rate(₹)</th>
                <td>@Model.Rate.ToString("C", new CultureInfo("hi-IN"))</td>
            </tr>
            
            @if(Model.CGST != 0 || Model.CGST != null)
            {
                <tr>
                    <th>CGST (@Model.CGST%)</th>
                    <td>@Model.TotalCGSTPrice?.ToString("C", new CultureInfo("hi-IN"))</td>
                </tr>
            }

            @if (Model.SGST != 0 || Model.SGST != null)
            {
                <tr>
                    <th>SGST (@Model.SGST%)</th>
                    <td>@Model.TotalSGSTPrice?.ToString("C", new CultureInfo("hi-IN"))</td>
                </tr>

                <tr>
                    <th>Without GST Price(₹)</th>
                    <td>@Model.WithoutGSTPrice?.ToString("C", new CultureInfo("hi-IN"))</td>
                </tr>
            }
            <tr>
                <th>Total Amount(₹)</th>
                <td>@Model.Total_Price.ToString("C", new CultureInfo("hi-IN"))</td>
            </tr>
            <tr>
                <th>Received Amount(₹)</th>
                <td>@Model.Receive_Amount.ToString("C", new CultureInfo("hi-IN"))</td>
            </tr>
            <tr>
                <th>Discount (₹)</th>
                <td>@Model.Discount?.ToString("C", new CultureInfo("hi-IN"))</td>
            </tr>
            <tr>
                <th>Receive Payment Method</th>
                <td>@Model.Payment_Method</td>
            </tr>

            @if (Model.Receive_Information_ID != null)
            {
                string baseAddress = "https://stock-manage-api-shree-ganesh-agro-ind.somee.com/";
                string Icon = Model.Bank_Icon;
                string BankIcon = baseAddress + Icon;

                <tr>
                    <input type="hidden" id="BankIcon" value="@BankIcon" />
                    <th> Bank Account No</th>
                    <td>XXXXX@(Model.Receive_Account_No.Substring(Model.Receive_Account_No.Length - 4)) <img src="@BankIcon" class="bank-icon" /></td>
                </tr>

                <tr>
                    <th>Account Holder Name</th>
                    <td>@Model.Account_Holder_Name</td>
                </tr>
            }

            <tr>
                <th>Deducted Amount(₹)</th>
                <td>@Model.Deducted_Amount.Value.ToString("C", new CultureInfo("hi-IN"))</td>
            </tr>

            <tr>
                <th>Is Full Amount Payment Received?</th>
                <td>@(Model.IsFullPaymentReceive.ToString())</td>
            </tr>

            @if (Model.IsFullPaymentReceive == "NO")
            {


                <tr>
                    <th>Remain Payment Date</th>
                    <td>@Model.Remain_Payment_Date?.ToString("dd-MM-yyyy")</td>
                </tr>
                <tr>
                    <th>Remain Amount(₹)</th>
                    <td>@Model.Receive_Remain_Amount?.ToString("C", new CultureInfo("hi-IN"))</td>
                </tr>
                <tr>
                    <th>Remain Payment Method</th>
                    <td>@Model.Remain_Payment_Method</td>
                </tr>

                @if (Model.Remain_Receive_Information_ID != 0 || Model.Remain_Receive_Information_ID != null)
                {
                    string baseAddress = "https://stock-manage-api-shree-ganesh-agro-ind.somee.com/";
                    string Icon = Model.Remain_Bank_Icon;
                    string BankIcon = baseAddress + Icon;

                    <tr>
                        <th> Remain Bank Account No</th>
                        <td>XXXXX@(Model.Receive_Remain_Account_No.Substring(Model.Receive_Remain_Account_No.Length - 4))  <img src="@BankIcon" class="bank-icon" /></td>
                    </tr>

                    <tr>
                        <th>Remain Account Holder Name</th>
                        <td>@Model.Remain_Account_Holder_Name</td>
                    </tr>


                }
            }

        </table>
    </div>
</div>
