@using Stock_Management_System.UrlEncryption
@{
    Layout = "_Layout";
    ViewData["Title"] = "Show Save Informations";
}



@model IEnumerable<Stock_Management_System.Areas.Information.Models.Information_Model>;
<style>
    img.bank-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: middle;
    }
</style>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Infromation List</h4>
            <h6>Show All Saved Information </h6>

        </div>
        <div class="page-btn">
            <a role="button" asp-action="AddBankInformation" asp-controller="Information" class="btn btn-added"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Add Information</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">

                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                    </div>
                </div>

            </div>
            <div class="table-responsive  justify-content-center">
                <table id="data" class="table datanew">
                    <thead>
                        <tr>

                            <th class="text-center">Name</th>
                            <th class="text-center">Bank Name</th>
                            <th class="text-center">View Information</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {

                                foreach (var row in Model)
                                {
                                    <tr>

                                        @{
                                            string BaseAddress = "https://stock-manage-api-shree-ganesh-agro-ind.somee.com/";
                                            string Icon = row.BankIcon;

                                            string BankIcon = BaseAddress + Icon;

                                        }
                                        <td class="text-center">@row.AccountHolderName</td>
                                        <td class="text-center"><img class="bank-icon" src="@BankIcon">@row.BankName</td>

                                        <td class="text-center">
                                            <a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu text-center">




                                                <li>
                                                    <a role="link"
                                                       data-information-id="@UrlEncryptor.Encrypt(row.InformationID.ToString())"
                                                       onclick="event.preventDefault();" class="loadSaveInfo dropdown-item">
                                                        <img src="~/img/icons/eye1.svg" class="me-2" alt="img">Show Info
                                                    </a>
                                                </li>

                                                <li class="dropdown-item">
                                                    <a role="link" href="@Url.Action("EditBankInformation", "Information", new { Information_ID = UrlEncryptor.Encrypt(Convert.ToString(row.InformationID)) })" onclick="event.preventDefault(); window.location.href = this.href;">
                                                        <img src="~/img/icons/edit.svg" class="me-2" alt="Edit"> Edit Information
                                                    </a>
                                                </li>

                                                <li class="dropdown-item">
                                                    <a role="button" onclick="confirmDeletion('@Url.Action("DeleteBankInformation", "Information", new { Information_ID = UrlEncryptor.Encrypt(Convert.ToString(row.InformationID)) })')">
                                                        <img src="~/img/icons/delete1.svg" class="me-2" alt="Delete"> Delete Information
                                                    </a>
                                                </li>



                                            </ul>
                                        </td>


                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<!-- Modal Shell -->
<div class="modal fade" id="information" tabindex="-1" aria-labelledby="information" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Dynamic Content Will Be Loaded Here -->
        </div>
    </div>
</div>

<script src="/js/bundle/information/saveinformations-bundle.js"></script>


