@using Stock_Management_System.Areas.Manage.Models
@using Stock_Management_System.UrlEncryption;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Account Details";
}

@model Stock_Management_System.Areas.Accounts.Models.CustomerDetails_With_Purchased_Stock_Model;

@section Scripts {
    <script src="/js/bundle/customer/ac-bundle.js"></script>

    
}


<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Account Details</h4>
            <h6>Manage Customer Account Statements </h6>
        </div>
        @if (Model.Customers.CustomerType == "BUYER")
        {
            <div class="page-btn">
                <a role="button" asp-action="AddStock" asp-controller="Stock" class="btn btn-added"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Create Entry</a>
            </div>
        }
        else if (Model.Customers.CustomerType == "SELLER")
        {
            <div class="page-btn">
                <a role="button" asp-action="AddSale" asp-controller="Sale" class="btn btn-added"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Create Entry</a>
            </div>
        }
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set d-flex align-items-center">
                    <a asp-action="Customers" asp-controller="Account" class="text-decoration-none me-3">
                        <i class="fa fa-arrow-left" style="color:green; transform: scale(1.25);"></i>
                    </a>

                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="~/img/icons/filter.svg" alt="img">
                            <span><img src="~/img/icons/closes.svg" alt="img"></span>
                        </a>
                    </div>

                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                    </div>
                </div>
                <div class="wordset">
                    <ul>
                        <li>
                            <form id="pdfExportForm" asp-action="GenerateAccountPDFStatement" asp-controller="Account" method="get">
                                <input type="hidden" name="Customer_ID" value="@UrlEncryptor.Encrypt(Model.Customers.CustomerId.ToString())" />
                                <input type="hidden" name="Customer_Type" value="@(Model.Customers.CustomerType.ToString())" />
                                <button type="submit" name="downloadType" value="PDF" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download Account PDF" onclick="return showToastNotification('pdfExportForm');">
                                    <img src="~/img/icons/pdf.svg" alt="PDF icon">
                                </button>
                            </form>
                        </li>

                        <li>
                            <form id="excelExportForm" method="get" asp-action="GenerateAccountEXCELStatement" asp-controller="Account">
                                <input type="hidden" name="Customer_ID" value="@UrlEncryptor.Encrypt(Model.Customers.CustomerId.ToString())" />
                                <input type="hidden" name="Customer_Type" value="@(Model.Customers.CustomerType.ToString())" />
                                <button type="submit" name="downloadType" value="EXCEL" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download Account Excel" onclick="return showToastNotification('excelExportForm');">
                                    <img src="~/img/icons/excel.svg" alt="Excel icon">
                                </button>
                            </form>
                        </li>
                        <li>
                            <form>

                                <button type="button" onclick="window.print();" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Print">
                                    <img src="~/img/icons/printer.svg" alt="img">
                                </button>

                            </form>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="card mb-0" id="filter_inputs">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">

                                <!-- Start Date Input -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="startdate" class="text-truncate"><span style="color: black;">*</span> Start Date</label>
                                        <input type="date" class="form-control" id="startdate">
                                    </div>
                                </div>

                                <!-- End Date Input -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="datepickerend" class="text-truncate"><span style="color: black;">*</span> End Date</label>
                                        <input type="date" class="form-control" id="datepickerend" name="enddate">
                                    </div>
                                </div>

                                <!-- Search By Location Input -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="customertype" class="text-truncate"><span style="color: black;">*</span> Search By Location</label>
                                        <input type="text" class="form-control" placeholder="Enter Location.." oninput="this.value = this.value.toUpperCase()" id="searchLocation">
                                    </div>
                                </div>









                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 d-flex align-items-end">
                            <div class="form-group">
                                <a role="button" id="searchButton" class="btn btn-filters"><img src="~/img/icons/search-whites.svg" alt="search icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <br />


            <div class="table-responsive scrollable-table table-responsive-sm">
                <table class="table">
                    @if (Model.Customers != null)
                    {

                        <tr>
                            <th>Name:</th>
                            <td style="font-weight:600; color:black; ">@Model.Customers.CustomerName</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td style="font-weight:600; color:black;">@Model.Customers.CustomerAddress</td>
                        </tr>
                        <tr>
                            <th>Contact No:</th>
                            <td style="font-weight:600; color:black;">@Model.Customers.CustomerContact</td>
                        </tr>
                    }


                </table>
            </div>


        </div>


        <br />

        @if (Model.Customers.CustomerType == "BUYER")
        {
            <div class="table-responsive">
                <table id="data" class="table datanew">
                    <thead>
                        <tr>

                            <th class="text-center">Date</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">Bag</th>
                            <th class="text-center">Bag Per KG</th>
                            <th class="text-center">Weight</th>
                            <th class="text-center">Product-Price(₹)</th>
                            <th class="text-center">Total-Price(₹)</th>
                            <th class="text-center">Vehicle-No</th>
                            <th class="text-center">Payment-Status</th>

                            <th class="text-center">Actions</th>

                        </tr>
                    </thead>
                    <tbody>

                        @{
                            @if (Model?.Purchased_Stocks != null && Model.Purchased_Stocks.Count > 0)
                            {

                                foreach (var item in Model.Purchased_Stocks)
                                {
                                    <tr>

                                        <td class="text-center">@(DateTime.TryParse(item.StockDate.ToString(), out var piDate) ? piDate.ToString("dd-MM-yy") : "")</td>
                                        <td class="text-center">@item.ProductName</td>
                                        <td class="text-center">@item.PurchaseStockLocation</td>
                                        <td class="text-center">@(item.Bags == 0 ? "--" :item.Bags)</td>
                                        <td class="text-center">@(item.BagPerKg == 0 ? "--" : item.BagPerKg)</td>
                                        <td class="text-center">@item.TotalWeight</td>
                                        <td class="text-center">@item.ProductPrice.ToString("C")</td>
                                        <td class="text-center">@item.TotalPrice.ToString("C")</td>
                                        <td class="text-center">@item.VehicleNo</td>
                                        @{
                                            if (item.PaymentStatus == "PAID")
                                            {
                                                <td class="text-center"><span class="badges bg-lightgreen">@item.PaymentStatus</span></td>
                                            }
                                            else if (item.PaymentStatus == "PENDING")
                                            {
                                                <td class="text-center"><span class="badges bg-lightred">@item.PaymentStatus</span></td>
                                            }
                                            else if (item.PaymentStatus == "REMAIN")
                                            {
                                                <td class="text-center"><span class="badges bg-lightyellow">@item.PaymentStatus</span></td>
                                            }
                                        }


                                        <td class="text-center">
                                            <a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">


                                                <li>
                                                    @if (item.PaymentStatus == "PENDING")
                                                    {
                                                        <button class="loadPendingPaymentInfoBtn dropdown-item" data-customer-id="@UrlEncryptor.Encrypt(Model.Customers.CustomerId.ToString())" data-stock-id="@UrlEncryptor.Encrypt(item.StockId.ToString())"><img src="~/img/icons/dollar-square.svg" class="me-2" alt="img"> Create Payment</button>
                                                    }
                                                    else if (item.PaymentStatus == "REMAIN")
                                                    {
                                                        <button class="loadRemainPaymentInfoBtn dropdown-item" data-customer-id="@UrlEncryptor.Encrypt(Model.Customers.CustomerId.ToString())" data-stock-id="@UrlEncryptor.Encrypt(item.StockId.ToString())"><img src="~/img/icons/dollar-square.svg" class="me-2" alt="img"> Remain Payment</button>
                                                    }
                                                    else if (item.PaymentStatus == "PAID")
                                                    {
                                                        <button class="loadPaidPaymentInfoBtn dropdown-item" data-customer-id="@UrlEncryptor.Encrypt(Model.Customers.CustomerId.ToString())" data-stock-id="@UrlEncryptor.Encrypt(item.StockId.ToString())"><img src="~/img/icons/eye.svg" class="me-2" alt="img"> Show Payment</button>
                                                    }


                                                </li>
                                                <li>
                                                    <a role="button" onclick="confirmDeletion('@Url.Action("DeleteStock", "Stock", new { TN_ID = UrlEncryptor.Encrypt(Convert.ToString(item.StockId)) })', '@Html.Encode(Model.Customers.CustomerName)')" class="dropdown-item delete-stock">
                                                        <img src="~/img/icons/delete1.svg" class="me-2" alt="img">Delete Stock Entry
                                                    </a>
                                                </li>

                                            </ul>
                                        </td>






                                    </tr>
                                }


                            }
                        }

                    </tbody>
                </table>
            </div>
        }

        else if (Model.Customers.CustomerType == "SELLER")
        {
            <div class="table-responsive">
                <table id="data" class="table datanew">
                    <thead>
                        <tr>

                            <th class="text-center">Date</th>
                            <th class="text-center">Product</th>
                            <th class="text-center">Brand</th>
                            <th class="text-center">Bag</th>
                            <th class="text-center">Bag Per KG</th>
                            <th class="text-center">Weight</th>
                            <th class="text-center">Rate(₹)</th>
                            <th class="text-center">Total Amount(₹)</th>
                            <th class="text-center">Actions</th>

                        </tr>
                    </thead>
                    <tbody>

                        @{
                            @if (Model?.Show_Sales != null && Model.Show_Sales.Count > 0)
                            {

                                foreach (var item in Model.Show_Sales)
                                {
                                    <tr>

                                        <td class="text-center">@(DateTime.TryParse(item.Create_Sales.ToString(), out var piDate) ? piDate.ToString("dd-MM-yy") : "")</td>
                                        <td class="text-center">@item.Product_Name</td>
                                        <td class="text-center">@item.Brand_Name</td>
                                        <td class="text-center">@item.Bags</td>
                                        <td class="text-center">@item.BagPerKg</td>
                                        <td class="text-center">@item.Total_Weight</td>
                                        <td class="text-center">@item.Rate.ToString("C")</td>
                                        <td class="text-center">@item.Total_Price.ToString("C")</td>

                                        <td class="text-center">
                                            <a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button class="loadSalesInfoBtn dropdown-item" data-sale-id="@UrlEncryptor.Encrypt(item.saleId.ToString())">
                                                        <img src="~/img/icons/eye.svg" class="me-2" alt="img"> Show Information
                                                    </button>

                                                </li>
                                                <li>
                                                    <a role="button" onclick="confirmDeletion('@Url.Action("Delete_Sale", "Sales", new { Sale_ID = UrlEncryptor.Encrypt(Convert.ToString(item.saleId)) })', '@Html.Encode(item.CustomerName)')" class="dropdown-item delete-stock">
                                                        <img src="~/img/icons/delete1.svg" class="me-2" alt="img">Delete Sale Entry
                                                    </a>
                                                </li>

                                            </ul>
                                        </td>






                                    </tr>
                                }


                            }
                        }

                    </tbody>
                </table>
            </div>
        }












    </div>


    <!-- Modal Shell -->
    <div class="modal fade" id="payment" tabindex="-1" aria-labelledby="paymentLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Dynamic Content Will Be Loaded Here -->
            </div>
        </div>
    </div>

    <!-- Modal Shell -->
    <div class="modal fade" id="showsaleModal" tabindex="-1" aria-labelledby="createpaymentLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Dynamic Content Will Be Loaded Here -->
            </div>
        </div>
    </div>

</div>

