@{
    Layout = "_Layout";
    ViewData["Title"] = "Manage Customers";
}


@using System.Data;
@model IEnumerable<Stock_Management_System.Areas.Accounts.Models.Customer_Model>
@using Stock_Management_System.UrlEncryption;

@section Scripts{
    <script src="/js/bundle/customer/customers-bundle.js"></script>

}

<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Customers List</h4>
            <h6>Manage Customers </h6>
            
        </div>
        <div class="page-btn">
            <a role="button" asp-action="AddCustomer" asp-controller="Account" class="btn btn-added"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Add Customer</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="~/img/icons/filter.svg" alt="img">
                            <span><img src="~/img/icons/closes.svg" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                    </div>
                </div>
                <div class="wordset">
                      
                    <ul>
                        <li>
                            <form id="pdfExportForm" asp-action="GenerateCustomersPDFStatement" asp-controller="Account" method="get">
                                <button type="submit" name="downloadType" value="PDF" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download PDF" onclick="return showToastNotification('pdfExportForm')">
                                    <img src="~/img/icons/pdf.svg" alt="img">
                                </button>
                            </form>
                        </li>

                        <li>
                            <form id="excelExportForm" asp-action="GenerateCustomersEXCELStatement" asp-controller="Account" method="get">
                                <button type="submit" name="downloadType" value="EXCEL" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Download Excel" onclick="return showToastNotification('excelExportForm')">
                                    <img src="~/img/icons/excel.svg" alt="img">
                                </button>
                            </form>
                        </li>
                        <li>
                            <form>

                                <button type="button" onclick="window.print();" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Print">
                                    <img src="~/img/icons/printer.svg" alt="img">
                                </button>

                            </form>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="card mb-0" id="filter_inputs">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-lg-8 col-sm-6">
                            <div class="row">
                                <div class="col-9 col-sm-4">
                                    <div class="form-group">
                                        <label for="searchCTType"><span style="color: black;">*</span> Search By Type</label>
                                        <select id="searchCTType" class="select form-control">
                                            <option value="" selected>-- Select Type --</option>
                                            <option value="BUYER">BUYER</option>
                                            <option value="SELLER">SELLER</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-4 d-flex align-items-end">
                                    <div class="form-group">
                                        <a role="button" id="searchButton" class="btn btn-filters"><img src="~/img/icons/search-whites.svg" alt="search icon"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="table-responsive  justify-content-center">
                <table id="data" class="table datanew">
                    <thead>
                        <tr>

                            <th class="text-center">Name</th>
                            <th class="text-center">Customer-Type</th>
                            <th class="text-center">Contact No.</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var row in Model)
                                {
                                    <tr>


                                        <td class="text-center">@row.CustomerName</td>
                                        <td class="text-center">@row.CustomerType</td>
                                        <td class="text-center">@row.CustomerContact</td>
                                        <td class="text-center">@row.CustomerAddress</td>




                                        <td class="text-center">
                                            <a class="action-set" href="/Options" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu text-center">
                                                <li>
                                                    <a role="link"
                                                       href="@Url.Action("EditCustomer", "Account", new { Customer_ID = UrlEncryptor.Encrypt(Convert.ToString(row.CustomerId)) , Customer_Type = row.CustomerType })"
                                                       onclick="event.preventDefault(); { window.location.href = this.href; }" class="dropdown-item"><img src="~/img/icons/edit.svg" class="me-2" alt="img"> Edit Customer</a>
                                                </li>

                                                <li>
                                                    <a role="link"
                                                       href="@Url.Action("CustomerAccount", "Account", new { Customer_ID = UrlEncryptor.Encrypt(Convert.ToString(row.CustomerId)), Customer_Type = row.CustomerType })"
                                                       onclick="event.preventDefault(); { window.location.href = this.href; }" class="dropdown-item confirm-text"><img src="~/img/icons/dollar-square.svg" class="me-2" alt="img">Account</a>
                                                </li>
                                                <li>
                                                    <a role="link" onclick="confirmDeletion('@Url.Action("DeleteCustomer", "Account", new { Customer_ID = UrlEncryptor.Encrypt(Convert.ToString(row.CustomerId)) , Customer_Type = row.CustomerType })', '@Html.Encode(row.CustomerName)')" class="dropdown-item delete-stock">
                                                        <img src="~/img/icons/delete1.svg" class="me-2" alt="img">Delete Customer
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

       






    </div>



</div>